@import '@/assets/scss/variables';
@import '@/assets/scss/mixins';

.hero {
  margin: 18rem auto 0;
  @include hero;
  h1 {
    span {
      display: inline-grid;
      color: $red;
      svg {
        margin-top: -2.5rem;
      }
    }
  }
  .art9 {
    @include art(absolute, -10rem, 10rem, auto, auto);
  }
}