@import './variables.scss';

.container {
  max-width: 1366px;
  margin: 2rem auto;
  padding: 0 4.5rem;
  position: relative;
  overflow: hidden;
}

.flex {
  display: flex;
}

.grid {
  display: grid;
}

.items-center {
  align-items: center;
}

.content-center {
  justify-content: center;
}

.border-yellow {
  border-color: $yellow !important;
}

.border-blue {
  border-color: $blue !important;
}

.border-red {
  border-color: $red !important;
}

.bg-yellow {
  background: $yellow !important;
}

.bg-blue {
  background: $blue !important;
}

.bg-red {
  background: $red !important;
}

.slick-list {
  .slick-track {
    display: flex;
    align-items: center;
    &:hover {
      cursor: move;
    }
    .slick-slide {
      padding: 0 1rem;
      transition: all .5s;
      &:active,
      &:focus {
        border: none;
        outline: none;
      }
      &.slick-active {
        border: none;
        outline: none;
        img {
          height: 380px;
        }
      }
      img {
        height: 300px;
        width: 590px;
        object-fit: cover;
        object-position: center;
      }
    }
  }
}