$black: #17151D;
$blue: #12BCFF;
$red: #EB0028;
$yellow: #FFD035;
$gray: #A8A8A8;
$white: #FFFFFF;
$pink: #FFA9D9;
$green: #4DD78A;

$dmSans: 'DM Sans', sans-serif;
$openSans: 'Open Sans', sans-serif;
$spaceGrotesk: 'Space Grotesk', sans-serif;