@import '@/assets/scss/variables';

.hero {
  margin: 18rem auto 0;
  position: relative;
  h2 {
    margin: 0 auto 2rem;
    font-size: 2rem;
    font-weight: 700;
    font-style: italic;
    color: $black;
  }
  h1 {
    position: relative;
    max-width: 70%;
    font-weight: 400;
    font-size: 6rem;
    font-family: $spaceGrotesk;
    span {
      display: inline-grid;
      color: $green;
      svg {
        margin-top: 0rem;
      }
    }
  }
  .art2 {
    position: absolute;
    top: -3rem;
    right: 3rem;
  }
  .art10 {
    position: absolute;
    top: -10rem;
    right: 10rem;
  }
  .art11 {
    position: absolute;
    top: -10rem;
    right: 13rem;
  }
}