@import '@/assets/scss/variables';
@import '@/assets/scss/mixins';

.hero {
  margin: 18rem auto 0;
  @include hero;
  h1 {
    max-width: 70%;
    position: relative;
    span {
      display: inline-grid;
      color: $green;
      svg {
        margin-top: 0rem;
      }
    }
  }
  .art2 {
    @include art(absolute, -3rem, 3rem, auto, auto);
  }
  .art10 {
    @include art(absolute, -10rem, 10rem, auto, auto);
  }
  .art11 {
    @include art(absolute, -10rem, 13rem, auto, auto);
  }
}