@import '@/assets/scss/variables';
@import '@/assets/scss/extends';

.works {
  margin: 10rem auto 0;
  .workList {
    display: block;
  }
  .workCard {
    @extend .flex-centered;
    margin: 5rem auto 0;
    gap: 2rem;
    &.reverse {
      flex-direction: row-reverse;
      .banner {
        box-shadow: 16px 16px 0px rgba(0, 0, 0, 0.08);
      }
    }
    .banner {
      @extend .flex-centered;
      min-width: 488px;
      height: 488px;
      box-shadow: -16px 16px 0px rgba(0, 0, 0, 0.08);
      img {
        margin: 0 auto;
      }
    }
    .details {
      position: relative;
      h2 {
        font-size: 34px;
        font-weight: 500;
        font-family: $spaceGrotesk;
      }
      p {
        margin: 2rem auto 0;
        font-weight: 1rem;
        font-family: $dmSans;
        line-height: 1.5rem;
        &.type {
          margin-bottom: 2rem;
          font-family: $spaceGrotesk;
        }
      }
      a {
        @extend .flex-centered;
        margin-top: 2rem;
        float: right;
        text-decoration: none;
        font-weight: 400;
        font-size: 1.25rem;
        font-family: $dmSans;
        color: $black;
        span {
          margin-right: 1rem;
        }
      }
    }
  }
}