@import '@/assets/scss/variables';

.imageSlider {
  width: calc(100% + 9rem);
  height: 380px;
  margin: 0 -4.5rem 0;
  position: relative;
   
  .sliderContainer {
    position: absolute;
    left: 0;
    right: 0;
  }
}
