@import '@/assets/scss/variables';
@import '@/assets/scss/mixins';

.hero {
  margin: 8rem auto 0;
  position: relative;
  .text {
    max-width: 650px;
    margin: 0 auto;
    text-align: center;
    h1 {
      font-size: 4rem;
      font-weight: 500;
      font-family: $spaceGrotesk;
      &:nth-child(2) {
        margin-bottom: 4rem;
        span {
          a { color: $pink; }
        }
      }
      span {
        span {
          display: inline-grid;
          text-align: left;
          transform: translateY(0%);
        }
      }
    }
    p {
      font-size: 1.5rem;
      font-weight: 400;
      line-height: 2rem;
    }
    h1, p {
      overflow: hidden;
      span {
        display: inline-block;
        transform: translateY(100%);
      }
    }
  }
  .art1 {
    @include art(absolute, 2rem, auto, auto, 7rem);
  }
  .art2 {
    @include art(absolute, -3rem, 8rem, auto, auto);
  }
  .art4 {
    @include art(absolute, auto, 18rem, 3rem, auto);
  }
  .art5 {
    @include art(absolute, auto, auto, 5rem, 20rem);
  }
  .art6 {
    @include art(absolute, auto, 3rem, -5rem, auto);
  }

  .art1, .art2, .art4, .art5, .art6 {
    overflow: hidden;
    svg {
      transform: translateY(-110%);
    }
  }
}